@media screen and (min-width: 1600px) {
  .responsive #body {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .responsive #body .wrapper {
    width: 98%;
  }

  .responsive #details-col {
    display: block;
    padding: 10px 20px 10px 0;
  }

  .responsive #extra-col {
    display: block;
  }
}
