//
// Base
//

body {
  background: #E9E9E9 url('http://www.linkedin.com/scds/common/u/images/themes/katy/textures/texture_grain_200x200_v2.png');
  font-family: Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #333;
  font-weight: normal;
}

a {
  color: #0077B5;
  text-decoration: none;
}

a:visited {
  color: #069;
}

body strong {
  font-weight: bold;
}

//
// Header
//

#header {
  -webkit-box-shadow: 0 0 10px #333;
  -moz-box-shadow: 0 0 10px #333;
  box-shadow: 0 0 10px #333;
}

.global-header {
  background: #333;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555), color-stop(18%, #515151), color-stop(85%, #373737), color-stop(100%, #333));
  background-image: -webkit-linear-gradient(top, #555 0%,#515151 18%,#373737 85%,#333 100%);
  background-image: -moz-linear-gradient(top, #555 0%,#515151 18%,#373737 85%,#333 100%);
  background-image: -o-linear-gradient(top, #555 0%,#515151 18%,#373737 85%,#333 100%);
  background-image: linear-gradient(top, #555 0%,#515151 18%,#373737 85%,#333 100%);
  -webkit-box-shadow: 0 0 10px #333;
  -moz-box-shadow: 0 0 10px #333;
  box-shadow: 0 0 10px #333;
  font-size: 13px;
  line-height: 17px;
  color: #333;
  font-weight: normal;
  z-index: 10001;
  height: 42px;
  position: fixed;
  top: 0;
  width: 100%;
}

#top-header {
  background-color: #3F3F3F;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696969), color-stop(100%, #3F3F3F));
  background-image: -webkit-linear-gradient(top, #696969 0%,#3F3F3F 100%);
  background-image: -moz-linear-gradient(top, #696969 0%,#3F3F3F 100%);
  background-image: -o-linear-gradient(top, #696969 0%,#3F3F3F 100%);
  background-image: linear-gradient(top, #696969 0%,#3F3F3F 100%);
  height: 42px;
  position: relative;
}

.global-header .wrapper {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  width: 974px;
  position: relative;
}

.global-header .wrapper:after {
  content: " 0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.logo-container {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
  float: left;
}

#in-logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  margin-top: 3px;
  background: url('http://www.linkedin.com/scds/common/u/images/logos/logo_in_flat_43x34.png') left center no-repeat;
  display: block;
  height: 34px;
  width: 43px;
  float: left;
}

.header-section.first-child {
  float: left;
  width: auto;
}

.header-section.last-child {
  float: right;
  margin-left: 10px;
  width: auto;
}

//
// Search
//

.global-search {
  padding-top: 7px;
  padding-bottom: 6px;
  margin-left: 157px;
  margin-right: -14px;
  position: relative;
  float: right;
}

.global-search fieldset {
  float: left;
}

.global-search legend {
  left: -12345px;
  position: absolute;
}

.global-search .search-scope {
  float: left;
}

.global-search .search-scope .label {
  background: #575757;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #888), color-stop(4%, #888), color-stop(100%, #575757));
  background-image: -webkit-linear-gradient(top, #888 0%,#888 4%,#575757 100%);
  background-image: -moz-linear-gradient(top, #888 0%,#888 4%,#575757 100%);
  background-image: -o-linear-gradient(top, #888 0%,#888 4%,#575757 100%);
  background-image: linear-gradient(top, #888 0%,#888 4%,#575757 100%);
  border-radius: 2px 0 0 2px;
  display: block;
}

.global-search .styled-dropdown-select-jobs {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  padding-left: 18px;
  padding-right: 0px;
  background-image: url('http://www.linkedin.com/scds/common/u/images/themes/katy/sprites/sprite_global_nav_v4.png');
  background-position: 0 -233px;
  background-repeat: no-repeat;
  border: none;
  height: 27px;
  margin: 0;
  width: 12px;

  border-right: none;
  display: block;
  cursor: pointer;
}

.global-search .search-box-container {
  float: left;
  width: auto;
}

.global-search .search-term {
  width: 355px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;

  padding-left: 5px;
  padding-right: 26px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
  margin: 0;
  font-size: 13px;
  line-height: 17px;
  color: #333;
  font-weight: normal;
  z-index: 10004;
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
  position: relative;
}

.global-search .search-button {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background: rgba(0, 0, 0, 0) url('http://www.linkedin.com/scds/common/u/img/themes/consumer_v5/header_sprite_v7.png') no-repeat 0 -89px;
  border: none;
  cursor: pointer;
  height: 17px;
  line-height: 17px;
  width: 16px;
}

#top-header .global-search .search-button {
  background: none;
  border: none;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  margin: 0;
  overflow: visible;
  text-decoration: none !important;
  width: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 13px;
  height: 31px;
  line-height: 29px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  color: #FFF;
  background-color: #287BBC;
  border-color: #1B5480;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF287BBC', endColorstr='#FF23639A');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #287BBC), color-stop(100%, #23639A));
  background-image: -webkit-linear-gradient(top, #287BBC 0%,#23639A 100%);
  background-image: -moz-linear-gradient(top, #287BBC 0%,#23639A 100%);
  background-image: -o-linear-gradient(top, #287BBC 0%,#23639A 100%);
  background-image: linear-gradient(top, #287BBC 0%,#23639A 100%);
  white-space: nowrap;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 3px;
  padding-right: 3px;
  display: block;
  float: left;
  height: 27px;
  line-height: 24px;
  overflow: hidden;
  width: 50px;
}

#top-header .global-search .search-button span {
  margin-left: 13px;
  margin-right: 13px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  background: rgba(0, 0, 0, 0) url('http://www.linkedin.com/scds/common/u/images/themes/katy/sprites/sprite_global_nav_v4.png') no-repeat -5px -659px;
  float: left;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  width: 16px;
}

.global-search .advanced-search {
  margin-left: 5px;
  margin-right: 5px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  background: none;
  color: #D7D7D7;
  font-size: 11px;
  height: auto;
  line-height: 11px;
  text-decoration: none;
  text-indent: 0;
  width: auto;

  float: right;
  overflow: hidden;
  text-align: left;
  cursor: pointer;
}

//
// Header nav utilities
//

.global-header .nav-item {
  position: static;
  float: left;
  line-height: 13px;
}

.global-header .utilities .activity-toggle {
  padding-top: 14px;
  padding-bottom: 15px;
  background-image: url('http://www.linkedin.com/scds/common/u/images/themes/katy/sprites/sprite_global_nav_v4.png');
  background-repeat: no-repeat;

  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;

  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  width: 20px;
}

.global-header .utilities .inbox-alert {
  background-position: 4px 12px;
}

.global-header .utilities .notifications-alert {
  background-position: center -30px;
}

.global-header .utilities .add-connections-btn {
  background-position: center -114px;
}

.global-header .utilities .account-toggle {
  margin-left: 5px;
  margin-right: 0px;
  padding: 10px;
  display: block;
}

//
// Body
//

#body {
  clear: both;
  margin: 0 auto;
  padding: 80px 10px;
  width: 980px;

  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  -o-transition: width 0.4s;
  transition: width 0.4s;
}

#body .wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 974px;
}

#srp_main_ {
  background: #FFF;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),-1px 0 0 rgba(0, 0, 0, 0.03),1px 0 0 rgba(0, 0, 0, 0.03),0 1px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),-1px 0 0 rgba(0, 0, 0, 0.03),1px 0 0 rgba(0, 0, 0, 0.03),0 1px 0 rgba(0, 0, 0, 0.12);
  position: relative;
}

#srp_container {
  position: relative;
  min-height: 730px;
  height: auto;
  _height: 730px;
}

#srp_container:after {
content: "";
display: table;
clear: both;
}

//
// Module
//

.mod {
  padding: 10px 0;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(left, #EDEDED 0%,#D3D3D3 50%,#EDEDED 100%);
  background-image: -moz-linear-gradient(left, #EDEDED 0%,#D3D3D3 50%,#EDEDED 100%);
  background-image: -o-linear-gradient(left, #EDEDED 0%,#D3D3D3 50%,#EDEDED 100%);
  background-image: linear-gradient(left, #EDEDED 0%,#D3D3D3 50%,#EDEDED 100%);
  -moz-box-shadow: inset 0 0 0 #fff,0 0 0 #fff,inset -9999px 0 0 #fff;
  box-shadow: inset 0 0 0 #FFF,0 0 0 #FFF,inset -9999px 0 0 #FFF;
  -webkit-background-origin: border;
  -moz-background-origin: border;
  -ms-background-origin: border-box;
  -o-background-origin: border-box;
  background-origin: border-box;
  border: 0 solid rgba(0, 0, 0, 0);
  border-bottom-width: 1px;
}

//
// Jobs
//

#facets-col {
  float: left;
  margin-top: 35px;
  width: 195px;
}

#results-col {
  float: left;
  padding: 0 20px;
  width: 564px;
}

#details-col {
  display: none;
  padding: 10px 20px 10px 0;

  // First option, negative margin
  // margin-right: -195px - 564px;
  // width: 100%;

  // Second option, overflow hidden
  overflow: hidden;

  // Third option, fixed width
  // float: left;
  // width: 638px;
}

#extra-col {
  display: none;
  float: right;
  padding: 10px 20px 0 0;
  width: 300px;
}

.srp-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
}

.srp-title h2 {
  background: #333;
  color: #FFF;
  font-size: 13px;
  line-height: 17px;
  font-weight: bold;
  padding: 7.5px 26px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  text-transform: uppercase;
}

//
// Facets
//

#facets-col .mod {
  background-image: -webkit-linear-gradient(left, #D3D3D3 0%,#EDEDED 100%);
  background-image: -moz-linear-gradient(left, #D3D3D3 0%,#EDEDED 100%);
  background-image: -o-linear-gradient(left, #D3D3D3 0%,#EDEDED 100%);
  background-image: linear-gradient(left, #D3D3D3 0%,#EDEDED 100%);
}

#facets-col .advs-link {
  display: block;
  color: #888;
  padding: 5px 0 6px 26px;
  position: relative;
  z-index: 80;
}

#facets-col .advs-link .advs-indicator.available {
  background-position: -7px -419px;
}

#facets-col .advs-link .advs-indicator {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  height: 12px;
  width: 8px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  margin-left: 8px;
  background: rgba(0, 0, 0, 0) url('http://www.linkedin.com/scds/common/u/images/apps/voltron/sprite_search_voltron_v10.png') no-repeat 0 -419px;
}

#facets-col .search-types {
  padding-top: 8px;
  padding-bottom: 9px;
}

.search-types {
  padding: 20px 0;
}

.search-types li {
  margin-right: 20px;
}

.search-types a {
  color: #808080;
  line-height: 20px;
  padding-left: 26px;
}

.search-types li.selected {
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF01ADEF', endColorstr='#FF00CDED');
  background: #01ADEF;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #01ADEF), color-stop(100%, #00CDED));
  background-image: -webkit-linear-gradient(#01ADEF,#00CDED);
  background-image: -moz-linear-gradient(#01ADEF,#00CDED);
  background-image: -o-linear-gradient(#01ADEF,#00CDED);
  background-image: linear-gradient(#01ADEF,#00CDED);
}

.search-types li.selected strong {
  background-color: #FFF;
  color: #000;
  display: block;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin: -2px 0 0 11px;
  padding: 3px 0 0 15px;
  text-decoration: none;
}

.facet {
  position: relative;
}

.facet fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

legend.facet-toggle {
  color: #333;
  cursor: pointer;
  float: left;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  padding-left: 24px;
  margin-left: 2px;
  width: 140px;
}

button.facet-toggle {
  display: none;
}

//
// Results
//

.results_count {
  position: relative;
}

.results_count .jobs-sort {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 154px;
  width: auto;
  _width: 154px;
}

.results_count .jobs-sort .dropdown-trigger {
  border: none;
  background: none;
  position: static;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
}

//
// Pivot bar
//

#pivot-bar {
  overflow: hidden;
  padding: 5px 0 10px 0;
}

#pivot-bar .pivot {
  background-color: #EBEBEB;
  padding: 5px 5px 4px 10px;
  font-size: 13px;
  color: #333;
  float: left;
  margin: 5px 5px 0 0;
  -webkit-box-shadow: inset 0 0 3px #DDD;
  -moz-box-shadow: inset 0 0 3px #ddd;
  box-shadow: inset 0 0 3px #DDD;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  white-space: nowrap;
}

#pivot-bar .remove-pivot {
  border: none;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  height: 16px;
  width: 16px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0) url('http://www.linkedin.com/scds/common/u/images/apps/voltron/sprite_search_voltron_v10.png') no-repeat -37px -290px;
  margin: 0 0 0 6px;
  padding: 0;
  cursor: pointer;
}

#pivot-bar .pivot-reset {
  float: left;
  padding: 5px 10px 4px 10px;
  font-size: 13px;
  color: #7D7D7D;
  border: 1px solid #EBEBEB;
  background-color: #FFF;
  margin: 5px 5px 0 0;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

//
// Results
//

#results-container {
  position: relative;
}

.result {
  height: auto;
  min-height: 60px;
  padding: 13px 0 9px 0;
  position: relative;
  overflow: visible;
}

.result .entity-img {
  float: left;
}

.result .bd {
  margin-left: 68px;
  width: 65%;
  word-wrap: break-word;
}

.result .bd h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #000;
  line-height: 17px;
  font-weight: normal;
}

.result .bd h3 a.title {
  margin-right: 5px;
}

.result .bd .description {
  line-height: 17px;
  color: #333;
  font-weight: normal;
  font-size: 12px;
}

.result .bd .demographic {
  color: #A9A9A9;
  font-size: 12px;
  margin-top: -2px;
  overflow: hidden;
}

.result .bd .demographic dt {
  position: absolute;
  left: -9999px;
}

.result .bd .demographic dd {
  float: left;
}

.result .bd .demographic .separator {
  background: url('http://www.linkedin.com/scds/common/u/images/apps/voltron/sprite_search_voltron_v10.png') no-repeat -3px -236px;
  margin-left: 3px;
  padding-left: 8px;
}

.result .bd .social-wrapper {
  min-height: 17px;
  height: auto;
  _height: 17px;
}

.result .bd .social-wrapper .social-line {
  color: #519421;
  font-size: 12px;
  margin-top: -2px;
}

.result .bd .social-wrapper .social-line a {
  color: #519421;
}

.result .bd .social-wrapper .social-line li {
  display: inline;
}

.result .bd .social-wrapper .social-line li.similar a {
  background: url('http://www.linkedin.com/scds/common/u/images/apps/voltron/sprite_search_voltron_v10.png') no-repeat -4px -261px;
  padding-left: 6px;
  margin-left: 4px;
}

.result .srp-actions {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  position: absolute;
  top: 31px;
  right: 0;
  white-space: nowrap;
}

.result .srp-actions .primary-action-button {
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  margin: 0;
  overflow: visible;
  text-decoration: none !important;
  width: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 7px;
  height: 26px;
  line-height: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  color: #FFF;
  background-color: #287BBC;
  border-color: #1B5480;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF287BBC', endColorstr='#FF23639A');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #287BBC), color-stop(100%, #23639A));
  background-image: -webkit-linear-gradient(top, #287BBC 0%,#23639A 100%);
  background-image: -moz-linear-gradient(top, #287BBC 0%,#23639A 100%);
  background-image: -o-linear-gradient(top, #287BBC 0%,#23639A 100%);
  background-image: linear-gradient(top, #287BBC 0%,#23639A 100%);
  white-space: nowrap;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  vertical-align: middle;
}

.result .srp-actions.blue-button .primary-action-button a {
  color: #fff;
}

//
// Job details
//

.viewjob .content-module {
  // border-top: 1px solid #DDD;
  clear: both;
  font-size: 13px;
  overflow: hidden;
  // padding: 20px 10px;
}

.viewjob .job-vitals {
  background: url('http://www.linkedin.com/scds/common/u/img/bg/bg_search_box_1x136.png') repeat-x 0 0 #F0F0F0;
  border: 1px solid #DDD;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  font-size: 13px;
  padding: 20px 0;
}

.viewjob .job-vitals .logo {
  height: 60px;
  width: 100px;
  position: relative;
  float: right;
  background-color: #FFF;
  border: 1px solid #CCC;
  margin-right: 15px;
  padding: 5px;
}

.viewjob .job-vitals .logo .photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  border: none;
}

.viewjob .job-vitals .has-logo {
  padding: 5px 135px 0 10px;
}

.viewjob .job-vitals h1 {
  font-size: 20px;
  font-weight: normal;
}

.viewjob .content-module h2,
.viewjob .content-module h3 {
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0;
}

.rich-text p {
  margin: 10px 0;
}

.rich-text ul {
  list-style: disc outside;
  margin: 10px 0;
  padding-left: 25px;
}

.rich-text ul li {
  list-style: disc outside;
  margin-left: 15px;
}

.viewjob .content-module dl {
  overflow: hidden;
}

.viewjob .content-module dt {
  clear: both;
  float: left;
  font-weight: bold;
  width: 30%;
}

.viewjob .content-module dd {
  float: left;
  width: 60%;
}

.viewjob .content-module .actions {
  margin-top: 20px;
}

.viewjob .content-module .actions li {
  float: left;
}

.apply-with-linkedin {
  color: #FFF !important;
  cursor: pointer !important;
  display: block !important;
  white-space: nowrap !important;
  // float: left !important;
  margin-left: 1px !important;
  vertical-align: top !important;
  overflow: hidden !important;
  text-align: center !important;
  height: 31px !important;
  padding: 0 10px 0 10px !important;
  border: 1px solid #000 !important;
  border-top-color: #2771AA !important;
  border-right-color: #2771AA !important;
  border-bottom-color: #2771AA !important;
  border-left-color: #2771AA !important;
  text-shadow: none !important;
  line-height: 33px !important;
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  -webkit-border-top-right-radius: 3px !important;
  -webkit-border-bottom-right-radius: 3px !important;
  background-color: #007CBB !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#65ADD2), color-stop(30%,#0F90D2), color-stop(67%,#006DAA), color-stop(100%,#07547D)) !important;
  background-image: -webkit-linear-gradient(top, #65ADD2 0%, #0F90D2 30%, #006DAA 67%, #07547D 100%) !important;
}

.apply-resume .btn-action {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  float: none;
  font-size: 12px;
  margin: 0 10px;
  min-width: 215px;
  width: auto;
  _width: 215px;
  padding: 0;
  text-decoration: none !important;
  color: #000 !important;
  cursor: pointer;
  text-align: center;
}

.btn-action {
  background: #FFCF0B;
  background: -moz-linear-gradient(top, #FFF5BD 0, #FFF5BD 1px, #FFE976 1px, #FFCF0B 100%);
  background: -o-linear-gradient(top, #FFF5BD 0, #FFF5BD 1px, #FFE976 1px, #FFCF0B 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF5BD), color-stop(5%, #FFF5BD), color-stop(5%, #FFE976), color-stop(100%, #FFCF0B));
  background: linear-gradient(top, #FFF5BD 0%,#FFF5BD 1px,#FFE976 1px,#FFCF0B 100%);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE976', endColorstr='#FFCF0B',GradientType=0 );
  border: 1px solid #E8B463;
  color: #333 !important;
  font-weight: bold;
}

//
// Extra column
//

#extra-col .actions li {
  clear: both;
  padding: 5px 0;
}

#extra-col .actions apply-li {
  padding: 10px 0;
  text-align: center;
}

#extra-col .actions .apply-resume {
  text-align: center;
}

#extra-col .actions li.save {
  overflow: hidden;
}

#extra-col .actions li.save .job-saving {
  background: url('http://www.linkedin.com/scds/common/u/img/icon/icon_save_job_16x15.png') 2px 0 no-repeat;
  padding-left: 26px;
  padding-right: 8px;
  float: left;
  border-right: 1px solid #CCC;
}

#extra-col .actions li.save .view-saved-jobs {
  float: left;
  padding-left: 8px;
}

#extra-col .actions li.share a {
  background: url('http://www.linkedin.com/scds/common/u/img/icon/icon_job_forward_18x16.png') 0 -2px no-repeat;
  margin-right: 5px;
  padding-left: 26px;
}

#extra-col .actions li.follow a {
  background: url('http://www.linkedin.com/scds/common/u/img/sprite/sprite_cmpfollow_v1.png') 0 -81px no-repeat;
  background-position: 2px -1px;
  padding: 0 0 2px 26px;
}
