@media screen and (min-width: 1600px) {
  /* line 2, scss/responsive.scss */
  .responsive #body {
    padding-left: 0;
    padding-right: 0;
    width: 100%; }

  /* line 8, scss/responsive.scss */
  .responsive #body .wrapper {
    width: 98%; }

  /* line 12, scss/responsive.scss */
  .responsive #details-col {
    display: block; }

  /* line 16, scss/responsive.scss */
  .responsive #extra-col {
    display: block; } }
