/* line 5, scss/styles.scss */
body {
  background: #e9e9e9 url("http://www.linkedin.com/scds/common/u/images/themes/katy/textures/texture_grain_200x200_v2.png");
  font-family: Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #333;
  font-weight: normal; }

/* line 14, scss/styles.scss */
a {
  color: #0077B5;
  text-decoration: none; }

/* line 23, scss/styles.scss */
#header {
  -webkit-box-shadow: 0 0 10px #333;
  -moz-box-shadow: 0 0 10px #333;
  box-shadow: 0 0 10px #333; }

/* line 29, scss/styles.scss */
.global-header {
  background: #333;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(18%, #515151), color-stop(85%, #373737), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(top, #555555 0%, #515151 18%, #373737 85%, #333333 100%);
  background-image: -moz-linear-gradient(top, #555555 0%, #515151 18%, #373737 85%, #333333 100%);
  background-image: -o-linear-gradient(top, #555555 0%, #515151 18%, #373737 85%, #333333 100%);
  background-image: linear-gradient(top, #555555 0%, #515151 18%, #373737 85%, #333333 100%);
  -webkit-box-shadow: 0 0 10px #333;
  -moz-box-shadow: 0 0 10px #333;
  box-shadow: 0 0 10px #333;
  font-size: 13px;
  line-height: 17px;
  color: #333;
  font-weight: normal;
  z-index: 10001;
  height: 42px;
  position: fixed;
  top: 0;
  width: 100%; }

/* line 50, scss/styles.scss */
#top-header {
  background-color: #3F3F3F;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, dimgrey), color-stop(100%, #3f3f3f));
  background-image: -webkit-linear-gradient(top, dimgrey 0%, #3f3f3f 100%);
  background-image: -moz-linear-gradient(top, dimgrey 0%, #3f3f3f 100%);
  background-image: -o-linear-gradient(top, dimgrey 0%, #3f3f3f 100%);
  background-image: linear-gradient(top, dimgrey 0%, #3f3f3f 100%);
  height: 42px;
  position: relative; }

/* line 61, scss/styles.scss */
.global-header .wrapper {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  width: 974px;
  position: relative; }

/* line 69, scss/styles.scss */
.global-header .wrapper:after {
  content: " 0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

/* line 78, scss/styles.scss */
.logo-container {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
  float: left; }

/* line 86, scss/styles.scss */
#in-logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  margin-top: 3px;
  background: url("http://www.linkedin.com/scds/common/u/images/logos/logo_in_flat_43x34.png") left center no-repeat;
  display: block;
  height: 34px;
  width: 43px;
  float: left; }

/* line 98, scss/styles.scss */
.header-section.first-child {
  float: left;
  width: auto; }

/* line 103, scss/styles.scss */
.header-section.last-child {
  float: right;
  margin-left: 10px;
  width: auto; }

/* line 113, scss/styles.scss */
.global-search {
  padding-top: 7px;
  padding-bottom: 6px;
  margin-left: 157px;
  margin-right: -14px;
  position: relative;
  float: right; }

/* line 122, scss/styles.scss */
.global-search fieldset {
  float: left; }

/* line 126, scss/styles.scss */
.global-search legend {
  left: -12345px;
  position: absolute; }

/* line 131, scss/styles.scss */
.global-search .search-scope {
  float: left; }

/* line 135, scss/styles.scss */
.global-search .search-scope .label {
  background: #575757;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #888888), color-stop(4%, #888888), color-stop(100%, #575757));
  background-image: -webkit-linear-gradient(top, #888888 0%, #888888 4%, #575757 100%);
  background-image: -moz-linear-gradient(top, #888888 0%, #888888 4%, #575757 100%);
  background-image: -o-linear-gradient(top, #888888 0%, #888888 4%, #575757 100%);
  background-image: linear-gradient(top, #888888 0%, #888888 4%, #575757 100%);
  border-radius: 2px 0 0 2px;
  display: block; }

/* line 146, scss/styles.scss */
.global-search .styled-dropdown-select-jobs {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  padding-left: 18px;
  padding-right: 0px;
  background-image: url("http://www.linkedin.com/scds/common/u/images/themes/katy/sprites/sprite_global_nav_v4.png");
  background-position: 0 -233px;
  background-repeat: no-repeat;
  border: none;
  height: 27px;
  margin: 0;
  width: 12px;
  border-right: none;
  display: block;
  cursor: pointer; }

/* line 165, scss/styles.scss */
.global-search .search-box-container {
  float: left;
  width: auto; }

/* line 170, scss/styles.scss */
.global-search .search-term {
  width: 355px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 26px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
  margin: 0;
  font-size: 13px;
  line-height: 17px;
  color: #333;
  font-weight: normal;
  z-index: 10004;
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
  position: relative; }

/* line 196, scss/styles.scss */
.global-search .search-button {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background: rgba(0, 0, 0, 0) url("http://www.linkedin.com/scds/common/u/img/themes/consumer_v5/header_sprite_v7.png") no-repeat 0 -89px;
  border: none;
  cursor: pointer;
  height: 17px;
  line-height: 17px;
  width: 16px; }

/* line 208, scss/styles.scss */
#top-header .global-search .search-button {
  background: none;
  border: none;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  margin: 0;
  overflow: visible;
  text-decoration: none !important;
  width: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 13px;
  height: 31px;
  line-height: 29px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  color: #FFF;
  background-color: #287BBC;
  border-color: #1B5480;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF287BBC', endColorstr='#FF23639A');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #287bbc), color-stop(100%, #23639a));
  background-image: -webkit-linear-gradient(top, #287bbc 0%, #23639a 100%);
  background-image: -moz-linear-gradient(top, #287bbc 0%, #23639a 100%);
  background-image: -o-linear-gradient(top, #287bbc 0%, #23639a 100%);
  background-image: linear-gradient(top, #287bbc 0%, #23639a 100%);
  white-space: nowrap;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 3px;
  padding-right: 3px;
  display: block;
  float: left;
  height: 27px;
  line-height: 24px;
  overflow: hidden;
  width: 50px; }

/* line 259, scss/styles.scss */
#top-header .global-search .search-button span {
  margin-left: 13px;
  margin-right: 13px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  background: rgba(0, 0, 0, 0) url("http://www.linkedin.com/scds/common/u/images/themes/katy/sprites/sprite_global_nav_v4.png") no-repeat -5px -659px;
  float: left;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  width: 16px; }

/* line 274, scss/styles.scss */
.global-search .advanced-search {
  margin-left: 5px;
  margin-right: 5px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  background: none;
  color: #D7D7D7;
  font-size: 11px;
  height: auto;
  line-height: 11px;
  text-decoration: none;
  text-indent: 0;
  width: auto;
  float: right;
  overflow: hidden;
  text-align: left;
  cursor: pointer; }

/* line 304, scss/styles.scss */
.global-header .nav-item {
  position: static;
  float: left;
  line-height: 13px; }

/* line 310, scss/styles.scss */
.global-header .utilities .activity-toggle {
  padding-top: 14px;
  padding-bottom: 15px;
  background-image: url("http://www.linkedin.com/scds/common/u/images/themes/katy/sprites/sprite_global_nav_v4.png");
  background-repeat: no-repeat;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  width: 20px; }

/* line 328, scss/styles.scss */
.global-header .utilities .inbox-alert {
  background-position: 4px 12px; }

/* line 332, scss/styles.scss */
.global-header .utilities .notifications-alert {
  background-position: center -30px; }

/* line 336, scss/styles.scss */
.global-header .utilities .add-connections-btn {
  background-position: center -114px; }

/* line 340, scss/styles.scss */
.global-header .utilities .account-toggle {
  margin-left: 5px;
  margin-right: 0px;
  padding: 10px;
  display: block; }

/* line 351, scss/styles.scss */
#body {
  clear: both;
  margin: 0 auto;
  padding: 80px 10px;
  width: 980px; }

/* line 358, scss/styles.scss */
#body .wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 974px; }

/* line 364, scss/styles.scss */
#srp_main_ {
  background: #FFF;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
  position: relative; }

/* line 372, scss/styles.scss */
#srp_container {
  position: relative;
  min-height: 730px;
  height: auto;
  _height: 730px; }

/* line 383, scss/styles.scss */
.mod {
  padding: 10px 0;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(left, #ededed 0%, lightgrey 50%, #ededed 100%);
  background-image: -moz-linear-gradient(left, #ededed 0%, lightgrey 50%, #ededed 100%);
  background-image: -o-linear-gradient(left, #ededed 0%, lightgrey 50%, #ededed 100%);
  background-image: linear-gradient(left, #ededed 0%, lightgrey 50%, #ededed 100%);
  -moz-box-shadow: inset 0 0 0 #fff,0 0 0 #fff,inset -9999px 0 0 #fff;
  box-shadow: inset 0 0 0 #FFF,0 0 0 #FFF,inset -9999px 0 0 #FFF;
  -webkit-background-origin: border;
  -moz-background-origin: border;
  -ms-background-origin: border-box;
  -o-background-origin: border-box;
  background-origin: border-box;
  border: 0 solid rgba(0, 0, 0, 0);
  border-bottom-width: 1px; }

/* line 405, scss/styles.scss */
#facets-col {
  float: left;
  margin-top: 35px;
  width: 195px; }

/* line 411, scss/styles.scss */
#results-col {
  float: left;
  width: 564px; }

/* line 416, scss/styles.scss */
#details-col {
  display: none;
  margin-right: -759px;
  width: 100%; }

/* line 422, scss/styles.scss */
.srp-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0; }

/* line 429, scss/styles.scss */
.srp-title h2 {
  background: #333;
  color: #FFF;
  font-size: 13px;
  line-height: 17px;
  font-weight: bold;
  padding: 7.5px 26px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  text-transform: uppercase; }

/* line 447, scss/styles.scss */
#facets-col .mod {
  background-image: -webkit-linear-gradient(left, lightgrey 0%, #ededed 100%);
  background-image: -moz-linear-gradient(left, lightgrey 0%, #ededed 100%);
  background-image: -o-linear-gradient(left, lightgrey 0%, #ededed 100%);
  background-image: linear-gradient(left, lightgrey 0%, #ededed 100%); }

/* line 454, scss/styles.scss */
#facets-col .advs-link {
  display: block;
  color: #888;
  padding: 5px 0 6px 26px;
  position: relative;
  z-index: 80; }

/* line 462, scss/styles.scss */
#facets-col .advs-link .advs-indicator.available {
  background-position: -7px -419px; }

/* line 466, scss/styles.scss */
#facets-col .advs-link .advs-indicator {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  height: 12px;
  width: 8px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  margin-left: 8px;
  background: rgba(0, 0, 0, 0) url("http://www.linkedin.com/scds/common/u/images/apps/voltron/sprite_search_voltron_v10.png") no-repeat 0 -419px; }

/* line 480, scss/styles.scss */
#facets-col .search-types {
  padding-top: 8px;
  padding-bottom: 9px; }

/* line 485, scss/styles.scss */
.search-types {
  padding: 20px 0; }

/* line 489, scss/styles.scss */
.search-types li {
  margin-right: 20px; }

/* line 493, scss/styles.scss */
.search-types a {
  color: #808080;
  line-height: 20px;
  padding-left: 26px; }

/* line 499, scss/styles.scss */
.search-types li.selected {
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF01ADEF', endColorstr='#FF00CDED');
  background: #01ADEF;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #01adef), color-stop(100%, #00cded));
  background-image: -webkit-linear-gradient(#01adef, #00cded);
  background-image: -moz-linear-gradient(#01adef, #00cded);
  background-image: -o-linear-gradient(#01adef, #00cded);
  background-image: linear-gradient(#01adef, #00cded); }

/* line 509, scss/styles.scss */
.search-types li.selected strong {
  background-color: #FFF;
  color: #000;
  display: block;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin: -2px 0 0 11px;
  padding: 3px 0 0 15px;
  text-decoration: none; }

/* line 521, scss/styles.scss */
.facet {
  position: relative; }

/* line 525, scss/styles.scss */
.facet fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative; }

/* line 532, scss/styles.scss */
legend.facet-toggle {
  color: #333;
  cursor: pointer;
  float: left;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  padding-left: 24px;
  margin-left: 2px;
  width: 140px; }

/* line 544, scss/styles.scss */
button.facet-toggle {
  display: none; }
